#create-vehiclePanel(hidden).panel
	h1 Create Vehicle - Title fee is 200 DHS
	hr
	
	#innerWrap
		span.fa.fa-file-text-o(style="font-size: 250px; float:left;")
		
		form(action="/create" method="POST")
			legend 
				input(type="text" name="form-name" value="create-vehicle" hidden="true")
			legend 
				input(type="text" name="assetId" placeholder="VIN")
			legend
				select(name="vehicle-make")
					option(value="bmw") BMW
					option(value="ferrari") FERRARI
				span.hint MAKE
			legend 
				input(type="text" name="vehicle-model" placeholder="MODEL")
			legend
				select(name="year")
					option(value="2016") 2016
					option(value="2015") 2015
					option(value="2014") 2014
					option(value="2013") 2013
					option(value="2012") 2012
				span.hint YEAR
			legend
				select(name="vehicle-color")
					option(value="white") WHITE
					option(value="gold") GOLD
				span.hint COLOR
			legend 
				input(type="number" name="vehicle-miles" placeholder="MILES")
			legend 
				input(type="number" name="vehicle-value" placeholder="VALUE IN DHS")
			legend
				button(type="button" style="margin:5px;")#submit
					span.fa.fa-check &nbsp;&nbsp;
					span CREATE
				
