#titlePanel(hidden).panel
	h4 
		span(style="font-weight:bold;") Department of Motor Vehicles - Titles
	h4 Transfer fee is AED 30 
	hr
	
	br
	#tradeModal.modalDialog
			div
				.modal-header
					h2 Filter Titles
					hr
				.modal-content
					form#tradeFilter
						label(for="trade_issuer") PRODUCER
						input#trade_issuer.trade-filter(type="text" name="issuer")
						br
						label(for="trade_owner") OWNER
						input#trade_owner.trade-filter(type="text" name="owner")
						br
						label(for="trade_ticker") ASSET ID
						input#trade_ticker.trade-filter(type="text" name="ticker")
						br
						a.filter-button(href="#close" title="Close") Close
						
	#openTrades
		br
		p
			span(style="font-weight:bold;") Account Balance:
			span#accountBalance Loading from blockchain...
		br
		a.filter-button(href="#tradeModal") Filter Titles
		a.filter-button(href="/issue-title") Issue New Title
		br
		br
		table#tradesTable.tablesorter
			thead
				tr 
					TH: a.sort-selector(sort="date") DATE
						span.fa.fa-arrow-up.sort-indicator
					th: a.sort-selector(sort="ticker") VIN
					th: a.sort-selector(sort="make") MAKE
					th: a.sort-selector(sort="model") MODEL
					th: a.sort-selector(sort="year") YEAR
					th: a.sort-selector(sort="color") COLOR
					th: a.sort-selector(sort="miles") MILES
					th: a.sort-selector(sort="value") VALUE
					th: a.sort-selector(sort="issuer") ORIGIN
					th: a.sort-selector(sort="owner") OWNER
					th ACTION
			tbody#tradesBody
