#createPanel(hidden).panel
	h1 Create Asset
	hr
	
	#innerWrap
		span.fa.fa-file-text-o(style="font-size: 250px; float:left;")
		
		form(action="/create" method="POST")#createform
			legend 
				input(type="text" name="ticker" placeholder="Asset Id")
			legend 
				select(name="par")
					option(value="100000") $1,000
					option(value="1000000") $5,000
					option(value="10000000") $10,000
				span.hint PRICE
			legend 
				select(name="qty")
					option 50
					option 100
					option 150
					option 200
				span.hint QTY_Lbs
			legend 
				select(name="discount")
					option(value="3.25") 3.25%
					option(value="7.35") 7.35%
					option(value="10.0") 10.0%
				span.hint DISCOUNT
			legend 
				select(name="maturity")
					option(value="100") 100 days
					option(value="150") 150 days
					option(value="200") 200 days
				span.hint EXPIRATION
			
			legend
				button(type="button" style="margin:5px;")#submit
					span.fa.fa-check &nbsp;&nbsp;
					span CREATE
				
