#register-vehiclePanel(hidden).panel
	h4 
		span(style="font-weight:bold;") Vehicle Registration
	h4 Fee is AED 40, Valid for 4 years
	hr
	
	#innerWrap
		span.fa.fa-file-text-o(style="font-size: 250px; float:left;")
		
		form(action="/create" method="POST")
			legend 
				input(type="text" name="vehicleId" placeholder="VIN")
			legend 
				input(type="text" name="inspectionReceiptId" placeholder="Inspection Receipt Number")

			legend 
				input(type="text" name="insurancePolicyId" placeholder="Insurance Policy Number")

			legend
				select(name="auto-renew-r")
					option(value="no") NO
					option(value="yes") YES
				span.hint AUTO-RENEWAL

			legend
				button(type="button" style="margin:5px;")#submit1
					span.fa.fa-check &nbsp;&nbsp;
					span CREATE
				
