#registrationPanel(hidden).panel
	h4 
		span(style="font-weight:bold;") Department of Motor Vehicles  - Registration
	h4 Renewal fee is AED 40 and is valid for 4 years
	hr
	
	br
	#registrationModal.modalDialog
			div
				.modal-header
					h2 Filter License
					hr
				.modal-content
					form#registrationFilter
						label(for="registration_issuer") POSTAL-CODE 
						input#registration_issuer.registration-filter(type="text" name="issuer")
						br
						label(for="") DRIVER
						input#registration_owner.registration-filter(type="text" name="owner")
						br
						label(for="registration_ticker") LICENSE-ID
						input#registration_ticker.registration-filter(type="text" name="ticker")
						br
						a.filter-button(href="#close" title="Close") Close
						
	#openRegistrations
		br
		p
			span(style="font-weight:bold;") Account Balance:
			span#accountBalanceRegistration Loading from blockchain...
		br
		a.filter-button(href="#registrationModal") Filter Registration 
		br
		br
		table#registrationTable.tablesorter
			thead
				tr 
					TH: a.sort-selector(sort="date") DATE
						span.fa.fa-arrow-up.sort-indicator
					th: a.sort-selector(sort="cusip") REGISTRATION-ID
					th: a.sort-selector(sort="cusip") VIN
					th: a.sort-selector(sort="cusip") LICENSE-PLATE
					th: a.sort-selector(sort="cusip") INSURANCE-POLICY
					th: a.sort-selector(sort="owner") OWNER
					th: a.sort-selector(sort="maturity") EXPIRATION
					th: a.sort-selector(sort="auto") AUTO-RENEWAL
					th ACTION
					th SIMULATE
			tbody#registrationBody
