#licensePanel(hidden).panel
	h4 
		span(style="font-weight:bold;") Department of Motor Vehicles - Driver License
	h4 Renewal fee is AED 50, valid for 10 years
	hr
	
	br
	#licenseModal.modalDialog
			div
				.modal-header
					h2 Filter License
					hr
				.modal-content
					form#licenseFilter
						label(for="license_issuer") POSTAL-CODE 
						input#license_issuer.license-filter(type="text" name="issuer")
						br
						label(for="") DRIVER
						input#license_owner.license-filter(type="text" name="owner")
						br
						label(for="license_ticker") LICENSE-ID
						input#license_ticker.license-filter(type="text" name="ticker")
						br
						a.filter-button(href="#close" title="Close") Close
						
	#openLicenses
		br
		p
			span(style="font-weight:bold;") Account Balance:
			span#accountBalanceLicense Loading from blockchain...
		br
		a.filter-button(href="#licenseModal") Filter License
		br
		br
		table#licensesTable.tablesorter
			thead
				tr 
					TH: a.sort-selector(sort="date") DATE
						span.fa.fa-arrow-up.sort-indicator
					th: a.sort-selector(sort="cusip") LICENCE-ID
					th: a.sort-selector(sort="owner") DRIVER
					th: a.sort-selector(sort="address") ADDRESS
					th: a.sort-selector(sort="city") CITY
					th: a.sort-selector(sort="state") STATE
					th: a.sort-selector(sort="zip") POSTAL-CODE
					th: a.sort-selector(sort="maturity") EXPIRATION
					th: a.sort-selector(sort="maturity") AUTO-RENEWAL
					th ACTION
					th SIMULATE
			tbody#licensesBody
