extends template/layout
	
	
//- --------------- Header -------------- //
block custom_header
	script(src='/js/part2.js')
	script(src='/js/blockchain.js')
	script(type='text/javascript').
		$(document).ready(function(){
			
		});
		
		
//- --------------- Navigation Bar  -------------- //
block navpanel
	include template/nav_part2
	
	
//- --------------- Main Stuff  -------------- //
block content
	#contentPanel
		
		#blockdate(title="date of last block") loading...
		
		// --------------- IssueTitle Panel
		include panel_issue-title
		
		// --------------- IssueDriverLicense Panel
		include panel_issue-driver-license

		// --------------- Register-Vehicle View
		include panel_register-vehicle


		// --------------- Title View
		include panel_title

		// --------------- License View
		include panel_license

		// --------------- Registration View
		include panel_registration

		// --------------- Toll View
		include panel_toll

		// --------------- Traffic Violation View
		include panel_traffic-violation

		// --------------- Audit View
		include panel_audit
		
block footer
	include template/blockchain
