#logo UAE Smart Gov

#linkWraps
    // there is JS code that will show the corresponding panel to the clicked navigation div.
    // ie: clicking <div class="nav">HOME</div> will show panel #homePanel
    // this code is in layout.jade
    //.nav#homeLink HOME
    .nav#issue-titleLink ISSUE-TITLE
    .nav#issue-driver-licenseLink ISSUE-DRIVER-LICENSE
    .nav#register-vehicleLink REGISTER-VEHICLE
    .nav#titleLink  TITLE
    .nav#licenseLink LICENSE
    .nav#registrationLink REGISTRATION
    .nav#tollLink TOLL
    .nav#traffic-violationLink TRAFFIC-VIOLATION
    .nav#auditLink AUDIT

#whoAmI
    span.fa.fa-user#userIcon
    span#userField LOGIN
    span &nbsp;
    span.fa.fa-angle-down

form#loginWrap
    a(href="/logout") Logout
